*{
  margin:0;
  padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.bg-pink{
    background:#CF2D76;
}
.bg-orange{
    background:#F4812E;
}
.bg-blue{
    background: #1A0E60;
}
.bg-darkblue{
  color: #111e81!important;
}
.text-lightblue{
    color:#01E8FE;
}
.text-gray{
  color: #555!important;
}
.h-110{
    min-height: 110px;
}
.font-20{
    font-size: 1.25rem!important;
}
.font-24{
  font-size: 24px!important;
}
.font-99{
  font-size: 0.99rem;
}
.font-32{
    font-size: 2.0rem;
}
.font-22{
  font-size: 1.38rem;
}
.font-26{
  font-size:1.63rem;
}
.font-700{
    font-weight: 700;
}
p.font-itelic{
    font-size: 1.25rem;
    font-style: italic;
}
.font-25{
  font-size:1.56rem;
}
.font-50{
  font-size:3.13rem;
}
.bg-purpal-blue{
    background-image: linear-gradient(#590995, #150485);
}
.bg-blue-purpal{
  background-image: linear-gradient(#150485, #590995);
}
.how-it-bg{
  
  background-image: linear-gradient(#150485, #590995);
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.top-50{
  margin-top:-50px;
}

ul.top-navbar{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: right;
    margin-right: 60px;
}
ul.top-navbar li{
    
}

ul.top-navbar>li:nth-child(1) a{
    color: #ffffff;
    font-size: 1.25rem;
    text-transform: capitalize;
    text-decoration: none;
}

.btn-rounded{
    height:40px;
    border-radius: 25px; 
    padding: 0 25px;
    color:#fff!important;  
    display: inline-flex;
    align-items: center;
}
.bdr-2{
  border:solid 2px #ffffff;
}
.shadow {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  
  .shadow:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  .bg-dark-blue{
    background-image: linear-gradient(to right bottom, #45108a, #440d81, #430b79, #420971, #400769, #3c0764, #370660, #33065b, #2b0658, #230654, #1a0651, #10054d);
  }
  .pad-100{
    padding-top: 100px;
    padding-bottom: 100px;
}
.pad-top-0{
  padding-top: 0px;
}
.pad-bottom-100{
  padding-bottom: 100px;
}
.line-bg {
  background-image: url('../images/line-bg.png');
  background-repeat: no-repeat;
  background-position: bottom left;
}
.heading{
    position: relative;
    padding: 0;
    margin: 0 0 15px 0;
    font-weight: 300;
    font-size: 36px;    
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    text-align: center;
    text-transform: capitalize;
    padding-bottom: 5px;
    font-weight: 700;
    z-index: 0;
  }
  .position-sticky{
    top: 0px;
    z-index: 2;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  }
  
    
  .heading-inline .heading{
    display:inline-block      
  }
  .heading:before {
    width: 28px;
    height: 5px;
    display: block;
    content: "";
    position: absolute;
    bottom: 3px;
    left: 50%;
    margin-left: -14px;
    background-color: #E54D0C;
    z-index: 1;
  }
  .heading:after {
    width: 100px;
    height: 1px;
    display: block;
    content: "";
    position: relative;
    margin-top: 10px;
    left: 50%;
    margin-left: -50px;
    background-color: #27BFFF;
    background-color: #ffffff;
  }


  /* menu */

.menu-icon {
    height: 30px;
    width: 30px;
    position: fixed;
    position: relative;
    z-index: 2;
    left: 50px;
    top: 30px;

    left: 05px;
    top: 10px;
    cursor: pointer;
  }
  .menu-icon__line {
    height: 2px;
    width: 30px;
    display: block;
    background-color: #ffffff;
    margin-bottom: 4px;
    transition: transform 0.2s ease, background-color 0.5s ease;
  }
  .menu-icon__line-left {
    width: 15px;
  }
  .menu-icon__line-right {
    width: 15px;
    float: right;
  }

  .menu {
    color: #fff;
    font-size: 25px;
    font-weight: 400;
    position: relative;
    top: -30px;
    margin-left: 35px;
}
.nav-active .menu{
    color:#fff;
}
  
  .nav {
    position: fixed;
    z-index: 1;
    width: 100%;
    top:0;
    left:0;
    right:0;
  }
  .nav:before, .nav:after {
    content: "";
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(234, 234, 234, 0.2);   
    z-index: -1;
    transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
    transform: translateX(0%) translateY(-100%);
  }
  .nav:after {
    background: linear-gradient(#590995, #150485);
    transition-delay: 0s;
  }
  .nav:before {
    transition-delay: 0.1s;
  }
  .nav__content {
    position: fixed;
    top: 50%;
    transform: translate(0%, -50%);
    width: 100%;
    text-align: center;
    font-size: calc(2vw + 10px);
    font-weight: 200;
    cursor: pointer;
  }
  .nav__list-item {
    position: relative;
    display: inline-block;
    transition-delay: 0.8s;
    opacity: 0;
    transform: translate(0%, 100%);
    transition: opacity 0.2s ease, transform 0.3s ease;
    margin-right: 25px;
  }
  .nav__list-item a{
    display: inline-block;
    width:inherit;
    height:inherit;
    color:#fff;
  }
  .nav__list-item:before {
    content: "";
    position: absolute;
    background: #fff;
    width: 20px;
    height: 1px;
    top: 100%;
    transform: translate(0%, 0%);
    transition: all 0.3s ease;
    z-index: -1;
  }
  .nav__list-item:hover:before {
    width: 100%;
  }
  
  body.nav-active .menu-icon__line {
    background-color: #000;
    background-color:#fff;
    transform: translateX(0px) rotate(-45deg);
  }
  body.nav-active .menu-icon__line-left {
    transform: translateX(1px) rotate(45deg);
  }
  body.nav-active .menu-icon__line-right {
    transform: translateX(-2px) rotate(45deg);
  }
  body.nav-active .nav {
    visibility: visible;
  }
  body.nav-active .nav:before, body.nav-active .nav:after {
    transform: translateX(0%) translateY(0%);
  }
  body.nav-active .nav:after {
    transition-delay: 0.1s;
  }
  body.nav-active .nav:before {
    transition-delay: 0s;
  }
  body.nav-active .nav__list-item {
    opacity: 1;
    transform: translateX(0%);
    transition: opacity 0.3s ease, transform 0.3s ease, color 0.3s ease;
  }
  body.nav-active .nav__list-item:nth-child(0) {
    transition-delay: 0.5s;
  }
  body.nav-active .nav__list-item:nth-child(1) {
    transition-delay: 0.6s;
  }
  body.nav-active .nav__list-item:nth-child(2) {
    transition-delay: 0.7s;
  }
  body.nav-active .nav__list-item:nth-child(3) {
    transition-delay: 0.8s;
  }
  body.nav-active .nav__list-item:nth-child(4) {
    transition-delay: 0.9s;
  }

  /* menu */



  /* with */

  p.subtitle{
      font-size: 1.56rem;
      line-height: 38px;
      font-style: oblique;
      font-weight: 300;
  }
  .feture-box{
      width:100%;
      box-sizing: border-box;
      display:flex;
      align-items: center;
      flex-direction: column;
      position: relative;
      background:#1F064B;
      border:solid #01E8FE 1.5px ;
      min-height: 200px;
      border-radius: 5px;
      margin-bottom: 90px;
      justify-content: center;

  }
  .feture-box .icon-box{
      position:absolute;
      width:114px;
      height:114px;
      border-radius: 5px;
      border:solid #CF2D76 2px ;
      background:#1A0E60;
      top:-58px;
      margin:auto;
      left:0;
      right:0;
      display:flex;
      align-items: center;
      justify-content: center;
  }
  .feture-box h5{
      font-size: 1.56rem;
      color:#01E8FE;     
      font-weight: 600;
      margin-top: 80px;
  }
  .feture-box p{
    font-size: 1.25rem;
    color:#ffffff;
    text-align: center;
   
}
  .mt-10{
      margin-top: 70px;
  }
  .mt-70{
      margin-bottom: -70px;
  }
  /* with */
/* Banner */
.banner{
  width:100%;
  background-image: url('../images/banner.png');
  background-position: center center;
  background-repeat: no-repeat;
  min-height:661px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.revolution{  
  /* color:#fff; */
  position:relative; 
  display:inline-block;
  margin:100px 0 40px;
}

.revolution span{
  font-size:70px;
  font-weight: 700;
  background: -webkit-linear-gradient(#F50760, #B477F3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.1); 

}

.revolution .the{
    color: #FFDCF6 !important;
    font-weight: 500;
    font-size: 25px;
    text-transform: uppercase;   
    position: absolute;
    top: -9px;
    left: 2px;
}
.revolution .the::after{
  width: 100%;
  content: "";
  height: 1px;
  top: 80%;
  position: absolute;
  background: #fff;
  left: 0;
}
.revolution .is-here{
  color: #FFDCF6 !important;
  font-size: 25px;
  text-transform: uppercase;
  position: absolute;
  bottom: -14px;
  right: 2px;
}
.revolution .is-here::after{
  width: 100%;
  content: "";
  height: 1px;
  top: 80%;
  position: absolute;
  background: #FFDCF6;
  left: 0;

}
/* .revolution::before{
  position:absolute;
  top:1;
  left: 0;
  content: "THE";
  width:100%;
  height:1px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
} */

/* .revolution::after{
  position:absolute;
  top:100%;
  right: 0;
  content: "IS HERE";
  color: #fff!important;
  font-size: 16px;
  font-weight: 400;
} */



/* banner */
  /* CTA */
  .cta{
      width:100%;
      background-image: linear-gradient(#770DAA, #2C1F84);
      min-height: 270px;       
  }
  .cta .title{
    font-size: 2.25rem;
    line-height:60px;
  }
  .cta-bg {
    
    background-image: url(../images/globe-bg.png);
    background-repeat: no-repeat;
    background-position: right;    
    top:0;
    height:270px;
}

  /* CTA */


  /* How it work */
  .how-it-work-box{
    width:100%;
    position: relative;
    background:#1C1C5B;
    border-radius: 5px;
    box-sizing: border-box;
    min-height:180px;
    margin: 80px auto 30px;
    z-index: 0;
    padding: 15px 15px;
  }
  .how-it-work-box svg{
    margin: -60px auto 0;
  }
  .how-it-work-box::after{
    position:absolute;
    content: "";
    width:120px;
    height:120px;
    border-radius:50%;
    background:#1C1C5B;
    top:-60px;
    left:0;
    right:0;
    margin:auto;
    z-index: -1;
  }
  .how-it-work-box h6{
    font-weight: 600;
    font-size: 1.19rem;
    margin-top: 25px;
  }
  .how-it-work-box p{    
    font-size: 0.99rem;
  }
  /* How it work */



  /*  footer */
  .footer{
    width:100%;
    position: relative;
    bottom:0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer svg{
    width:100%;
    min-height:230px;
  }
  .footer .container{
    position:absolute;
    top:0;
  }
  .email-text svg{
    width:50px;
  }

  .email-box{
    display:flex;
    align-items: center;
    justify-content: center;
  }
  .email-box img{
    margin-right: 10px;
  }

  .email-text a{
    font-size: 2.0rem;
    color: #ffffff;
    display: inline-flex;
    height: 50px;
    float: left;
    justify-content: center;
    text-align: center;
    clear: both;   
    width: 100%;
  }

  ul.social-media{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    padding-top: 15px;

  }
  .social-media li:nth-child(2){
    margin: 0 5px;
  }
  .contact-bg{
    background-image: linear-gradient(#18184D, #590995);
  }
  .contact-one{
    background-image: linear-gradient(#18184D, #590995);
  }
  .copywrite{
    width:100%;
    background:#192057;
    min-height:81px;
    display:flex;
    align-items: center;
    margin-top: -35px;
    position:absolute;

  }
  ul.footer-links{
    width:100%;
    list-style: none;
    text-align:right
  } 
  ul.footer-links li{
    display:inline-block;
    position: relative;
  } 
  ul.footer-links li::after{
    position:absolute;
    content: "|";
    color: #fff;
    font-size: 12px;
    top:4px;
    font-weight: 300;
  } 
  ul.footer-links li:last-child::after{
    position:absolute;
    content: "";   
  } 
  ul.footer-links li a{
    font-size: 0.99rem;
    display:inline-block;
    color:#fff;
    padding:0 10px;
    font-weight: 300;
    transition: .8s; 
  } 
  ul.footer-links li a:hover ,ul.footer-links li a:focus{
    color:#01E8FE;
  } 
  .copywrite p{
    color:#fff;
    margin-bottom: 0;
    text-align:left;
    font-weight: 300;
    font-size: 0.99rem;
  }
  .contact-title{
    font-size:32px;
    font-style: italic;
    color: #fff;
    text-align: center;
    display: inline-block;

  }
     
  /* footer */

  /* Business Page */

  .cms-page{
    width:100%;
    background: url('../images/titile-bg.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height:285px;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cms-page::after{
    content: "";
    position:absolute;
    width: 100%;
    height:100%;
    top:0;
    left:0;
    z-index: 1;
    background:rgba(36, 36, 123, 0.72);
  }
  .cms-page .cms-heading{
    font-size: 36px;
    color:#fff;
    text-align: center;
    font-weight: 700;
    z-index: 9;
    position:inherit;

  }
  .cms-page .cms-heading a{
    color: #fff;
  }
  .business-para p{
    font-size:1.25rem;
    color:#fff;
    font-weight: 300;
    font-style: italic;
  }
  .rewards-box {
    width:100%;
    margin-bottom: 60px;
  }
  .investment-300 {
    width: 100%;
    position: relative;
    margin-top:-40px;
    /* background:#1C0E65; */
    padding:30px 0;
  }
  
  .investment-300::before{
    content: '';
    background: url('../images/investment-top.png') no-repeat center center;
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    min-height:38px;
    background-size:cover;
}
.investment-300::after{
    content:'';
    background:#1C0E65;
    position:absolute;
    top:30px;
    right:0;
    bottom:0;
    left:0px;
    width:100%;
    height:calc(100%  -  80px);
    z-index: 0;
}
.investment-text{
  position: relative;
  z-index: 1;
}
  .investment-300 svg{
    width:100%; 
    min-height:38px;   
  }
  ul.four-point li{
    display:block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 1.25rem;;
  }

  ul.four-point li::after{
   position:absolute;
   content: "";
   top: 5px;
   left: 0;
   width:20px;
   height: 20px;
  }

  ul.four-point li:nth-child(1)::after{
    background:#FFA523;
  }

  ul.four-point li:nth-child(2)::after{
    background:#0094D0;
  }

  ul.four-point li:nth-child(3)::after{
    background:#49DAD8;
  }

  ul.four-point li:nth-child(4)::after{
    background:#7A7EEF;
  }

  
  .team-one{
    width:100%;
    box-sizing: border-box;
    min-height:200px;
    background:#1A2568;
    border:#01E8FE solid 1px;
    margin-bottom: 15px;
    border-radius:5px;
    
  }
  .roundimg-1 img{
    border-radius: 50%;
    width: 170px;
    height:170px;
    margin:25px auto;
  }
  .roundimg-2 img{
    border-radius: 50%;
    width: 120px;
    height:120px;
    margin:25px auto;
  }
  .team-members{
    
    font-weight: 600;
    display: block;
    text-align: center;
    line-height:1.5;
    margin: 15px auto 0;

  }
  .desination{
    
    display: block;
    text-align: center;
    line-height:1.5;
    margin: 0px auto 15px;    
  }


  /* Business page */

  /* about us */

  /* time line */

.timeline {
  position: relative;
  padding-left: 4rem;
  margin: 0 0 0 30px;
  color: white;
}
.timeline:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background: #27293d;
}
.timeline .timeline-container {
  position: relative;
  margin-bottom: 2.5rem;
}
.timeline .timeline-container .timeline-icon {
  position: absolute;
  left: -88px;
  top: 4px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  font-size: 1.7rem;
  background: #4f537b;
}
.timeline .timeline-container .timeline-icon i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.timeline .timeline-container .timeline-icon img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.timeline .timeline-container .timeline-body {
  background: #27293d;
  border-radius: 3px;
  padding: 20px 20px 15px;
  box-shadow: 1px 3px 9px rgba(0, 0, 0, 0.1);
}
.timeline .timeline-container .timeline-body:before {
  content: "";
  background: inherit;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  left: -10px;
  transform: rotate(45deg);
  border-radius: 0 0 0 2px;
}
.timeline .timeline-container .timeline-body .timeline-title {
  margin-bottom: 1.4rem;
}
.timeline .timeline-container .timeline-body .timeline-title .badge {
  background: #4f537b;
  padding: 4px 8px;
  border-radius: 3px;
  font-size: 12px;
  font-weight: bold;
}
.timeline .timeline-container .timeline-body .timeline-subtitle {
  font-weight: 300;
  font-style: italic;
  opacity: 0.4;
  margin-top: 16px;
  font-size: 11px;
}
.timeline .timeline-container.primary .badge,
.timeline .timeline-container.primary .timeline-icon {
  background: #1d8cf8 !important;
}
.timeline .timeline-container.info .badge,
.timeline .timeline-container.info .timeline-icon {
  background: #11cdef !important;
}
.timeline .timeline-container.success .badge,
.timeline .timeline-container.success .timeline-icon {
  background: #00bf9a !important;
}
.timeline .timeline-container.warning .badge,
.timeline .timeline-container.warning .timeline-icon {
  background: #ff8d72 !important;
}
.timeline .timeline-container.danger .badge,
.timeline .timeline-container.danger .timeline-icon {
  background: #fd5d93 !important;
}

.timeline p{
  font-size:0.99rem;
  font-weight: 300;
  line-height:1.7;
}

  
  /* time line */

  
/* accrodian */
.accordionTitle {
  cursor: pointer;
  margin: 0;
  position: relative;
}
.accordionIcon {
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
}
.accordionIcon .line-01,
.accordionIcon .line-02 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 2px;
  background-color: #272343;
  transition: 0.3s;
}
.accordionIcon .line-02 {
  transform: rotate(90deg);
}
.accordionContent {
  display: none;
}
.accordion--open .line-02 {
  transform: rotate(0deg);
}
/* end Required CSS */


.accordion {
  width: 100%;
  margin-top: -1px;
  border-top: 1px solid #CF2D76;
  border-bottom: 1px solid #CF2D76;
  background:#fff;
}
.accordionTitle {
    padding: 20px 16px;
    font-size: 1.0rem;
    transition: 0.2s;
    font-weight: 400;
    color:#101010;
}
.accordionContent {
  padding: 24px 16px 16px;
  background:#fff;
}
.accordionContent p {
  margin: 0 0 16px;
}
.accordionTitle:hover {
  background-color: #CF2D76;
  color: #fff;
}

.accordionTitle:hover .line-01,
.accordionTitle:hover .line-02 {
  background-color: #fff;
}
.accordion--open .accordionTitle {
  background-color: #CF2D76;
  color: #fff;
}
.accordion--open .line-01,
.accordion--open .line-02 {
  background-color: #fff;
}
  /* about us */

  /* registration page */
  .registration-box{
      width:100%;
      height: 100vh;
  }
    .left-registration{
       width:474px;
       background-image: linear-gradient(#590995, #150485);
       height: 100vh; 
       display: flex;
       align-items: center;
       justify-content: center; 
       flex-direction: column;   
       float: left; 
    }
    .right-registration{
      width:calc(100% - 475px);            
      padding:0 45px;     
      float: left; 
      display: flex;
      flex-direction: column;   
      align-items: center;
      justify-content: center; 
      height: 100vh; 
    }
    .right-registration form{
      width:100%;      
    }
    .right-registration .form-control{
      height:50px;
      /* border-radius:0; */
      background:#F7F8F9;
      border-color: #D5E6EC;
    }
    .right-registration label{
      color:#111E81;
      font-size:1.25rem;
    }
    .right-registration label span{
      font-weight: 700;
      color: #F90829;
    }
    .registration-title{
      width:100%;
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 70px;
      position: relative;
      padding: auto 45px;
      color: #1A0E60;
    }
    .registration-title::after{
      position:absolute;
      padding: auto 45px;
      content: "";
      width:100%;
      top:130%;
      left:0;
      height: 1px;
      background:rgb(109, 42, 197);
    }
    .term-condition a.termcondition{
      display: inline;
      color: #1A0E60;
      font-weight: 600;
    }
    .term-condition .custom-control-label {
      color: #555;
      font-size: 1.25rem;
      line-height: 1.7;
      padding-left:15px;
      
    }
    .term-condition .custom-control-label::after,
    .term-condition .custom-control-label::before {
      height: 25px;
      width: 25px;
    }
    .term-condition .custom-control-label::before {
      background-color: #fff;
      border: 1px solid #2c2b2c;      
    }
    .btn-create-account{
      height:51px;
      background:#1A0E60;
      border:#3313EC;
      padding: 0 35px;
      font-size: 18px;
      color:#fff;
    }
    .btn-create-account:hover ,.btn-create-account:focus {   
      background:#1A0E60;
      border:#3313EC;  
      color:#fff;
    }
    .create-account{
      font-size: 14px;
      color:#555;
    }
    .create-account a{
      font-weight: 600;
      color:#043A9E;
    }
  /* registration page */

  /* Login page */
     .text-red{
        color: #F90829;
     }
    .login-section{
      width:100%;
      height:100vh;

    }
    .left-login{
      width:50%;
      float: left;
      background-image: linear-gradient(#590995, #150485);
      height: 100vh;
      display:flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;      
    }
    .right-login{
      width:50%;
      float: left;
      padding: 0 75px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height:100vh;
    }
    .right-login form{
      width:100%;
    }
    .right-login .form-control{
      height:50px;      
      background:#F7F8F9;
      border-color: #D5E6EC;
    }
    .right-login label{
      font-size: 1.25rem;
      color:#111E81;
    }
    .btn-refresh{
      width:100%;
      display:block;
      color:#fff;
      font-weight: 600;
      font-size:1.09rem;
      height:50px;
      background:#4E9CE1;
      border-color: #4E9CE1;
      border-top-left-radius: 0rem;
      border-bottom-left-radius: 0rem;     
    }
    .btn-refresh:hover, .btn-refresh:focus{
      color:#fff;
    }

    .forget-pwd{
      font-size: 1.25rem;
      font-weight: 400;
      color:#111E81;
      float:right;
      padding: 5px 0;
    }
  /* login page */


  .gtco-testimonials {
    position: relative;
    margin-top: 30px;
  }
  .gtco-testimonials h2 {
    font-size: 30px;
    text-align: center;
    color: #333333;
    margin-bottom: 50px;
  }
  .gtco-testimonials .owl-stage-outer {
    padding: 30px 0;
  }
  .gtco-testimonials .owl-nav {
    display: none;
  }
  .gtco-testimonials .owl-dots {
    text-align: center;
  }
  .gtco-testimonials .owl-dots span {
    position: relative;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: block;
    background: #fff;
    border: 2px solid #01b0f8;
    margin: 0 5px;
  }
  .gtco-testimonials .owl-dots .active {
    box-shadow: none;
  }
  .gtco-testimonials .owl-dots .active span {
    background: #01b0f8;
    box-shadow: none;
    height: 12px;
    width: 12px;
    margin-bottom: -1px;
  }
  .gtco-testimonials .card {
    background: #fff;
    box-shadow: 0 8px 30px -7px #c9dff0;
    margin: 0 20px;
    padding: 0 10px;
    border-radius: 20px;
    border: 0;
  }
  .gtco-testimonials .card .card-img-top {
    max-width: 100px;
    border-radius: 50%;
    margin: 15px auto 0;
    box-shadow: 0 8px 20px -4px #95abbb;
    width: 100px;
    height: 100px;
  }
  .gtco-testimonials .card h5 {
    color: #01b0f8;
    font-size: 21px;
    line-height: 1.3;
  }
  .gtco-testimonials .card h5 span {
    font-size: 18px;
    color: #666666;
  }
  .gtco-testimonials .card p {
    font-size: 0.9rem;
    color: #555;
    padding-bottom: 15px;
  }
  .gtco-testimonials .active {
    opacity: 0.5;
    transition: all 0.3s;
  }
  .gtco-testimonials .center {
    opacity: 1;
  }
  .gtco-testimonials .center h5 {
    font-size: 24px;
  }
  .gtco-testimonials .center h5 span {
    font-size: 20px;
  }
  .gtco-testimonials .center .card-img-top {
    max-width: 100%;
    height: 120px;
    width: 120px;
  }
  
  @media (max-width: 767px) {
    .gtco-testimonials {
      margin-top: 20px;
    }
  }
  .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
    outline: 0;
  }
  .owl-carousel button.owl-dot {
    outline: 0;
  }


  /* owl crousal */
 .owl-carousel,.owl-carousel .owl-item{-webkit-tap-highlight-color:transparent;position:relative}.owl-carousel{display:none;width:100%;z-index:1}.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y;touch-action:manipulation;-moz-backface-visibility:hidden}.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0,0,0)}.owl-carousel .owl-item,.owl-carousel .owl-wrapper{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0)}.owl-carousel .owl-item{min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-touch-callout:none}.owl-carousel .owl-item img{display:block;width:100%}.owl-carousel .owl-dots.disabled,.owl-carousel .owl-nav.disabled{display:none}.no-js .owl-carousel,.owl-carousel.owl-loaded{display:block}.owl-carousel .owl-dot,.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-nav .owl-prev{cursor:pointer;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel .owl-nav button.owl-next,.owl-carousel .owl-nav button.owl-prev,.owl-carousel button.owl-dot{background:0 0;color:inherit;border:none;padding:0!important;font:inherit}.owl-carousel.owl-loading{opacity:0;display:block}.owl-carousel.owl-hidden{opacity:0}.owl-carousel.owl-refresh .owl-item{visibility:hidden}.owl-carousel.owl-drag .owl-item{-ms-touch-action:pan-y;touch-action:pan-y;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-grab{cursor:move;cursor:grab}.owl-carousel.owl-rtl{direction:rtl}.owl-carousel.owl-rtl .owl-item{float:right}.owl-carousel .animated{animation-duration:1s;animation-fill-mode:both}.owl-carousel .owl-animated-in{z-index:0}.owl-carousel .owl-animated-out{z-index:1}.owl-carousel .fadeOut{animation-name:fadeOut}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}.owl-height{transition:height .5s ease-in-out}.owl-carousel .owl-item .owl-lazy{opacity:0;transition:opacity .4s ease}.owl-carousel .owl-item .owl-lazy:not([src]),.owl-carousel .owl-item .owl-lazy[src^=""]{max-height:0}.owl-carousel .owl-item img.owl-lazy{transform-style:preserve-3d}.owl-carousel .owl-video-wrapper{position:relative;height:100%;background:#000}.owl-carousel .owl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;background:url(owl.video.play.png) no-repeat;cursor:pointer;z-index:1;-webkit-backface-visibility:hidden;transition:transform .1s ease}.owl-carousel .owl-video-play-icon:hover{-ms-transform:scale(1.3,1.3);transform:scale(1.3,1.3)}.owl-carousel .owl-video-playing .owl-video-play-icon,.owl-carousel .owl-video-playing .owl-video-tn{display:none}.owl-carousel .owl-video-tn{opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;background-size:contain;transition:opacity .4s ease}.owl-carousel .owl-video-frame{position:relative;z-index:1;height:100%;width:100%}
  /* owl crousal */

/* reponsive */

@media (max-width: 575.98px) {  
  .heading {   
    font-size: 150%;
  }
  p.font-itelic {
    font-size: 105%;    
  }
  p{
    font-size:0.9rem;
    font-weight: 300;
  }
  p.subtitle {
    font-size: 105%;
    line-height: 1.5;
    font-style: oblique;
    font-weight: 300;
  }
  .feture-box h5 {
    font-size: 150%;
    color: #01E8FE;
    font-weight: 600;
    
  }
  .feture-box p{
    font-size: 105%;
  }
  .cta .col-12{
    flex-direction: column;
  }
  .cta .title {
    font-size: 150%;
    line-height: 1.5;
    padding: 50px 0 0;
    text-align: center;
  }
  .cta {
    padding-bottom: 50px;
  }
  .cta .float-right{
    float: none!important;
    margin: 0 5px;
  }
  .contact-title {
    font-size: 140%;   
    padding: 25px 0 5px;
  }
  .contact-bg .text-center{
    order:2;
  }
  .contact-bg .contact-title {
    margin-top: -50px;
  }
  .copywrite{
    margin-top: 0;
  }
  .footer-logo img{
    width:70%; 
    margin-top: 50px;   
  }
  .email-text a{
    font-size: 105%;
  }
  .social-media li:nth-child(2){
    padding: 0 8px;
  }
  
  .copywrite p {      
      font-size: 0.9rem;
      text-align: center;
  }  
  .footer svg {  
      width: 100%;
      min-height: 322px;  
  }
  ul.footer-links{
    text-align: center;
  }
  ul.footer-links li a{
    font-size: 0.8rem;
  }
  .footer .container {
    position: absolute;
    top: 40px;
  }
  .our-promise .col-sm-4{
    display:none;
  }
  .top-navbar .btn-rounded{
    font-size: 0.75rem!important;
    white-space: normal;
  }
  .logo img{
    width:60%;
    padding: 15px 0 5px;
  }
  .menu-icon .menu{
    display:none;
  }

  .revolution span{
    font-size:300%;
  }

  .revolution .the {   
    font-size: 18px;   
  }
  .revolution .is-here{
    font-size: 18px; 
    bottom: -7px;
    right: 2px;
  }
  .banner {   
    padding-bottom: 15px;
  }

  .menu-icon {
    height: 30px;
    width: 30px;    
    position: fixed;
    z-index: 2; 
    right: 25px;
    left: auto;
    top: 38px;
    cursor: pointer;
  }
  ul.top-navbar > li:nth-child(1) a {
    color: #ffffff;
    font-size: 0.9rem;
    text-transform: capitalize;
    text-decoration: none;
  }
  ul.top-navbar{
    padding:0px 0 15px;
  }
  .email-box img{
    width:30px;
  }
  .pad-100{
    padding: 50px 0;
  }

  
  .cms-page{
    min-height: 120px;
  }
  .cms-page .cms-heading{
    font-size:150%;
  }
  .business-para p{
    font-size:100%;
  }

  .font-20{
    font-size: 110%;
  }
  .font-25{
    font-size: 115%;
  }
  .investment-300 .font-32{
    font-size: 160%;
    line-height: 1.3;
  }
  .investment-300 p{
    font-size: 110%;
  }
  .accordion{
    width: calc(100% - 30px);
    margin: auto;
  }

  .nav__list li{
    display:block;
    padding: 8px 0;
  }

  .nav__list li a{
    color: #fff;
    display:block;
    padding: 8px 0;
  }

  .left-registration{
    width:100%;
    height:100vh;
    justify-content:start
  }
  .left-registration img{
    width:60%;
    margin: 15px 0 25px 0;
  }
  .font-50{
    font-size: 200%;
  }
  .right-registration{  
    width:calc(100% - 40px);
    height:auto;    
    margin-left: 20px;   
    position:absolute;
    top:80px;
    background:#fff;
    border-radius: 25px;
    padding: 15px 25px 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  .right-registration .form-group{
    margin-bottom: 8px;
  }
  .registration-title::after {
    position: absolute;
    padding: auto 45px;
    content: "";
    width: 100%;
    top: 100%;
    left: 0;
    height: 1px;
    background: rgb(109, 42, 197);
}
.registration-title {
  font-size: 25px;
  margin-bottom: 15px;
 
}
  .left-registration{
    width:100%;
    position: relative;
  }
  .right-registration img:first-of-type{
    margin-top: 15px;
    width: 50%;
    
  }
  .right-registration label{
    font-size: 0.9rem;
    margin-bottom: 1px;
  }
  .right-registration .form-control{
    height:auto;
  }
  .term-condition .custom-control-label {    
    font-size: 0.8rem;
    line-height: 2.6;
    padding-left: 5px;
}
.mob-padd .py-3{
  padding-top: 0!important;
  padding-bottom: 0!important;
}

.create-account p{
  padding: 0 0;
}
  /* registration */

  .left-login{
    width:100%;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .left-login{
    padding:0;
  }
  .right-login {
    height:auto;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  .left-login .font-50{
    display:none;
  }
  .left-login img:first-of-type{
    margin-top: 15px;
    width: 50%;
    
  }
  .left-login .registration-img{
    display: none;
  }

  .right-login label{
    font-size: 0.9rem;
  }
  .right-login .form-control{
    height:auto;
  }
  .btn-refresh{
    width:calc(100% + 2);
    margin-left: -1px;
    height:39px;
  }
  .forget-pwd{
    font-size:0.9rem;
  }
  .right-login{
    width:calc(100% - 40px);
    position:absolute;
    background:#fff;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-radius: 25px;
    top:100px;
    left: 0;
    right: 0;
    margin:auto;
    padding:15px;
  }




}

@media (min-width: 576px) and (max-width: 767.98px) {

  .heading {   
    font-size: 150%;
  }
  p.font-itelic {
    font-size: 105%;    
  }
  p{
    font-size:0.9rem;
    font-weight: 300;
  }
  p.subtitle {
    font-size: 105%;
    line-height: 1.5;
    font-style: oblique;
    font-weight: 300;
  }
  .feture-box h5 {
    font-size: 150%;
    color: #01E8FE;
    font-weight: 600;
    
  }
  .feture-box p{
    font-size: 105%;
  }
  .cta .col-12{
    flex-direction: column;
  }
  .cta .title {
    font-size: 150%;
    line-height: 1.5;
    padding: 50px 0 0;
    text-align: center;
  }
  .cta {
    padding-bottom: 50px;
  }
  .cta .float-right{
    float: none!important;
    margin: 0 5px;
  }
  .contact-title {
    font-size: 140%;   
    padding: 25px 0 5px;
  }
  .contact-bg .text-center{
    order:2;
  }
  .contact-bg .contact-title {
    margin-top: -50px;
  }
  .copywrite{
    margin-top: 0;
  }
  .footer-logo img{
    width:70%; 
    margin-top: 50px;   
  }
  .email-text a{
    font-size: 105%;
  }
  .social-media li:nth-child(2){
    padding: 0 8px;
  }
  .copywrite p {      
      font-size: 0.9rem;
      text-align: center;
  }  
  .footer svg {  
      width: 100%;
      min-height: 322px;  
  }
  ul.footer-links{
    text-align: center;
  }
  ul.footer-links li a{
    font-size: 0.8rem;
  }
  .footer .container {
    position: absolute;
    top: 40px;
  }
  .our-promise .col-sm-4{
    display:none;
  }
  .top-navbar .btn-rounded{
    font-size: 0.75rem!important;
    white-space: normal;
  }
  .logo img{
    width:60%;
    padding: 15px 0 5px;
  }
  .menu-icon .menu{
    display:none;
  }

  .revolution span{
    font-size:300%;
  }

  .revolution .the {   
    font-size: 18px;   
  }
  .revolution .is-here{
    font-size: 18px; 
    bottom: -7px;
    right: 2px;
  }
  .banner {   
    padding-bottom: 15px;
  }
  .menu-icon {
    height: 30px;
    width: 30px;    
    position: fixed;
    z-index: 2; 
    right: 25px;
    left: auto;
    top: 38px;
    cursor: pointer;
  }
  ul.top-navbar > li:nth-child(1) a {
    color: #ffffff;
    font-size: 0.9rem;
    text-transform: capitalize;
    text-decoration: none;
  }
  ul.top-navbar{
    padding:0px 0 15px;
  }
  .email-box img{
    width:30px;
  }
  .pad-100{
    padding: 50px 0;
  }
 /* .top-navbar ul>li:nth-child(1){
    display:none;   
  }
  .top-navbar ul>li:nth-child(2){
    display:none;   
  }
  .top-navbar ul>li:nth-child(3){
    display:none;   
  }
  .top-navbar ul>li:nth-child(4){
    display:block;   
  }
  .nav__list ul li{
    display:block;
  } */
  
  .cms-page{
    min-height: 120px;
  }
  .cms-page .cms-heading{
    font-size:150%;
  }
  .business-para p{
    font-size:100%;
  }

  .font-20{
    font-size: 110%;
  }
  .font-25{
    font-size: 115%;
  }
  .investment-300 .font-32{
    font-size: 160%;
    line-height: 1.3;
  }
  .investment-300 p{
    font-size: 110%;
  }
  .accordion{
    width: calc(100% - 30px);
    margin: auto;
  }

  .nav__list li{
    display:block;
    padding: 8px 0;
  }

  .nav__list li a{
    color: #fff;
    display:block;
    padding: 8px 0;
  }

  .left-registration{
    width:100%;
    height:100vh;
  }
  .left-registration img{
    width:60%;
  }
  .font-50{
    font-size: 200%;
  }
  .right-registration{  
    width:calc(100% - 40px);
    height:auto;    
    margin-left: 20px;   
    position:absolute;
    top:80px;
    background:#fff;
    border-radius: 25px;
    padding: 30px 25px 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  .registration-title::after {
    position: absolute;
    padding: auto 45px;
    content: "";
    width: 100%;
    top: 100%;
    left: 0;
    height: 1px;
    background: rgb(109, 42, 197);
}
.registration-title {
  font-size: 25px;
  margin-bottom: 15px;
 
}
  .left-registration{
    width:100%;
    position: relative;
  }
  .right-registration img:first-of-type{
    margin-top: 15px;
    width: 50%;
    
  }
  .right-registration label{
    font-size: 0.9rem;
    margin-bottom: 1px;
  }
  .right-registration .form-control{
    height:auto;
  }
  .term-condition .custom-control-label {    
    font-size: 0.8rem;
    line-height: 2.6;
    padding-left: 5px;
}
  /* registration */

  .left-login{
    width:100%;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .left-login{
    padding:0;
  }
  .right-login {
    height:auto;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  .left-login .font-50{
    display:none;
  }
  .left-login img:first-of-type{
    margin-top: 15px;
    width: 50%;
    
  }
  .left-login .registration-img{
    display: none;
  }

  .right-login label{
    font-size: 0.9rem;
  }
  .right-login .form-control{
    height:auto;
  }
  .btn-refresh{
    width:calc(100% + 2);
    margin-left: -1px;
    height:39px;
  }
  .forget-pwd{
    font-size:0.9rem;
  }
  .right-login{
    width:calc(100% - 40px);
    position:absolute;
    background:#fff;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-radius: 25px;
    top:100px;
    left: 0;
    right: 0;
    margin:auto;
    padding:15px;
  }

}


@media (min-width: 768px) and (max-width: 991.98px) { 

  .left-registration {
    width: 300px;
  }
  .right-registration {
    width: calc(100% - 300px);
  }
  .left-registration img{
    width:70%;
  }
  .left-registration img:nth-child(2){
   width:40%;
  }
  .left-registration .font-50{
    font-size:150%;
  }
  span.menu{
    display:none;
  }

  .heading{
    font-size: 200%;
  }
  p.subtitle {
    font-size: 1.1rem;
    line-height: 1.5;
  }
  .feture-box h5 {
    font-size: 150%;
    color: #01E8FE;    
  }
  .feture-box p {
    font-size: 0.99rem;   
  }
  .cta .d-flex{
    flex-direction: column;
    height:auto;
  }
  .contact-title {
    font-size: 22px;    
  }
  .copywrite{
    margin-top: 0;
  }
  .footer-logo img{
    width: 30%;
  }
  
  ul.footer-links li a{
    font-size: 0.89rem;
    padding: 0 5px;
  }
  .copywrite p {       
      font-size: 0.89rem;
  }

}

@media (min-width: 992px) and (max-width: 1199.98px) {  
  ul.top-navbar {    
    margin-right: 60px;
  }
  .copywrite{
    margin-top: 0;
  }
  .contact-title {
    font-size: 29px;
   
  }
  .footer svg {
    width: 100%;
    min-height: 260px;
  }

}

@media (min-width: 1200px) {  


}