
body{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.bg-pink{
    background:#CF2D76;
}
.bg-orange{
    background:#F4812E;
}
.bg-blue{
    background: #1A0E60;
}
.text-lightblue{
    color:#01E8FE;
}
.h-110{
    min-height: 110px;
}
.font-20{
    font-size: 1.25rem;
}
.font-32{
    font-size: 2.0rem;
}
.font-700{
    font-weight: 700;
}
p.font-itelic{
    font-size: 1.25rem;
    font-style: italic;
}
.bg-purpal-blue{
    background-image: linear-gradient(#590995, #150485);
}
.bg-blue-purpal{
  background-image: linear-gradient(#150485, #590995);
}
.how-it-bg{
  
  background-image: linear-gradient(#150485, #590995);
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.top-navbar{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: right;
}
ul.top-navbar li{
    
}

ul.top-navbar li:nth-child(1) a{
    color: #ffffff;
    font-size: 1.25rem;
    text-transform: capitalize;
    text-decoration: none;
}

.btn-rounded{
    height:40px;
    border-radius: 25px; 
    padding: 0 25px;
    color:#fff!important;  
    display: inline-flex;
    align-items: center;
}

.shadow {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  
  .shadow:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  .bg-dark-blue{
    background-image: linear-gradient(to right bottom, #45108a, #440d81, #430b79, #420971, #400769, #3c0764, #370660, #33065b, #2b0658, #230654, #1a0651, #10054d);
  }
  .pad-100{
    padding-top: 100px;
    padding-bottom: 100px;
}


.heading{
    position: relative;
    padding: 0;
    margin: 0 0 15px 0;
    font-weight: 300;
    font-size: 36px;    
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;

    text-align: center;
    text-transform: capitalize;
    padding-bottom: 5px;
    font-weight: 700;
  }
  
  .heading {
    
  }
  .heading:before {
    width: 28px;
    height: 5px;
    display: block;
    content: "";
    position: absolute;
    bottom: 3px;
    left: 50%;
    margin-left: -14px;
    background-color: #E54D0C;
    z-index: 9;
  }
  .heading:after {
    width: 100px;
    height: 1px;
    display: block;
    content: "";
    position: relative;
    margin-top: 10px;
    left: 50%;
    margin-left: -50px;
    background-color: #27BFFF;
  }


  /* menu */

.menu-icon {
    height: 30px;
    width: 30px;
    position: fixed;
    z-index: 2;
    left: 50px;
    top: 30px;
    cursor: pointer;
  }
  .menu-icon__line {
    height: 2px;
    width: 30px;
    display: block;
    background-color: #ffffff;
    margin-bottom: 4px;
    transition: transform 0.2s ease, background-color 0.5s ease;
  }
  .menu-icon__line-left {
    width: 15px;
  }
  .menu-icon__line-right {
    width: 15px;
    float: right;
  }


  
  .nav {
    position: fixed;
    z-index: 1;
  }
  .nav:before, .nav:after {
    content: "";
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(234, 234, 234, 0.2);
    z-index: -1;
    transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
    transform: translateX(0%) translateY(-100%);
  }
  .nav:after {
    background: white;
    transition-delay: 0s;
  }
  .nav:before {
    transition-delay: 0.1s;
  }
  .nav__content {
    position: fixed;
    top: 50%;
    transform: translate(0%, -50%);
    width: 100%;
    text-align: center;
    font-size: calc(2vw + 10px);
    font-weight: 200;
    cursor: pointer;
  }
  .nav__list-item {
    position: relative;
    display: inline-block;
    transition-delay: 0.8s;
    opacity: 0;
    transform: translate(0%, 100%);
    transition: opacity 0.2s ease, transform 0.3s ease;
    margin-right: 25px;
  }
  .nav__list-item:before {
    content: "";
    position: absolute;
    background: #000000;
    width: 20px;
    height: 1px;
    top: 100%;
    transform: translate(0%, 0%);
    transition: all 0.3s ease;
    z-index: -1;
  }
  .nav__list-item:hover:before {
    width: 100%;
  }
  
  body.nav-active .menu-icon__line {
    background-color: #000;
    transform: translateX(0px) rotate(-45deg);
  }
  body.nav-active .menu-icon__line-left {
    transform: translateX(1px) rotate(45deg);
  }
  body.nav-active .menu-icon__line-right {
    transform: translateX(-2px) rotate(45deg);
  }
  body.nav-active .nav {
    visibility: visible;
  }
  body.nav-active .nav:before, body.nav-active .nav:after {
    transform: translateX(0%) translateY(0%);
  }
  body.nav-active .nav:after {
    transition-delay: 0.1s;
  }
  body.nav-active .nav:before {
    transition-delay: 0s;
  }
  body.nav-active .nav__list-item {
    opacity: 1;
    transform: translateX(0%);
    transition: opacity 0.3s ease, transform 0.3s ease, color 0.3s ease;
  }
  body.nav-active .nav__list-item:nth-child(0) {
    transition-delay: 0.5s;
  }
  body.nav-active .nav__list-item:nth-child(1) {
    transition-delay: 0.6s;
  }
  body.nav-active .nav__list-item:nth-child(2) {
    transition-delay: 0.7s;
  }
  body.nav-active .nav__list-item:nth-child(3) {
    transition-delay: 0.8s;
  }
  body.nav-active .nav__list-item:nth-child(4) {
    transition-delay: 0.9s;
  }

  /* menu */



  /* with */

  p.subtitle{
      font-size: 1.56rem;
      line-height: 38px;
      font-style: oblique;
      font-weight: 300;
  }
  .feture-box{
      width:100%;
      box-sizing: border-box;
      display:flex;
      align-items: center;
      flex-direction: column;
      position: relative;
      background:#1F064B;
      border:solid #01E8FE 1.5px ;
      min-height: 200px;
      border-radius: 5px;
      margin-bottom: 90px;
      justify-content: center;

  }
  .feture-box .icon-box{
      position:absolute;
      width:114px;
      height:114px;
      border-radius: 5px;
      border:solid #CF2D76 2px ;
      background:#1A0E60;
      top:-58px;
      margin:auto;
      left:0;
      right:0;
      display:flex;
      align-items: center;
      justify-content: center;
  }
  .feture-box h5{
      font-size: 1.56rem;
      color:#01E8FE;     
      font-weight: 600;
      margin-top: 80px;
  }
  .feture-box p{
    font-size: 1.25rem;
    color:#ffffff;
    text-align: center;
   
}
  .mt-10{
      margin-top: 70px;
  }
  .mt-70{
      margin-bottom: -70px;
  }
  /* with */

  /* CTA */
  .cta{
      width:100%;
      background-image: linear-gradient(#770DAA, #2C1F84);
      min-height: 270px;       
  }
  .cta .title{
    font-size: 2.25rem;
    line-height:60px;
  }

  /* CTA */


  /* How it work */
  .how-it-work-box{
    width:100%;
    position: relative;
    background:#1C1C5B;
    border-radius: 5px;
    box-sizing: border-box;
    min-height:180px;
    margin: 80px auto 30px;
    z-index: 99;
    padding: 15px 15px;
  }
  .how-it-work-box svg{
    margin: -60px auto 0;
  }
  .how-it-work-box::after{
    position:absolute;
    content: "";
    width:120px;
    height:120px;
    border-radius:50%;
    background:#1C1C5B;
    top:-60px;
    left:0;
    right:0;
    margin:auto;
    z-index: -1;
  }
  .how-it-work-box h6{
    font-weight: 600;
    font-size: 1.19rem;
    margin-top: 25px;
  }
  .how-it-work-box p{    
    font-size: 0.99rem;
  }
  /* How it work */



  /*  footer */
  .footer{
    width:100%;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer svg{
    width:100%;
    min-height:230px;
  }
  .footer .container{
    position:absolute;
    top:0;
  }
  .email-text svg{
    width:50px;
  }
  .email-text a{
    font-size: 2.0rem;
    color: #ffffff;
    display: inline-flex;   
    height: 50px;
  }
     
  /* footer */


  .gtco-testimonials {
    position: relative;
    margin-top: 30px;
  }
  .gtco-testimonials h2 {
    font-size: 30px;
    text-align: center;
    color: #333333;
    margin-bottom: 50px;
  }
  .gtco-testimonials .owl-stage-outer {
    padding: 30px 0;
  }
  .gtco-testimonials .owl-nav {
    display: none;
  }
  .gtco-testimonials .owl-dots {
    text-align: center;
  }
  .gtco-testimonials .owl-dots span {
    position: relative;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: block;
    background: #fff;
    border: 2px solid #01b0f8;
    margin: 0 5px;
  }
  .gtco-testimonials .owl-dots .active {
    box-shadow: none;
  }
  .gtco-testimonials .owl-dots .active span {
    background: #01b0f8;
    box-shadow: none;
    height: 12px;
    width: 12px;
    margin-bottom: -1px;
  }
  .gtco-testimonials .card {
    background: #fff;
    box-shadow: 0 8px 30px -7px #c9dff0;
    margin: 0 20px;
    padding: 0 10px;
    border-radius: 20px;
    border: 0;
  }
  .gtco-testimonials .card .card-img-top {
    max-width: 100px;
    border-radius: 50%;
    margin: 15px auto 0;
    box-shadow: 0 8px 20px -4px #95abbb;
    width: 100px;
    height: 100px;
  }
  .gtco-testimonials .card h5 {
    color: #01b0f8;
    font-size: 21px;
    line-height: 1.3;
  }
  .gtco-testimonials .card h5 span {
    font-size: 18px;
    color: #666666;
  }
  .gtco-testimonials .card p {
    font-size: 0.9rem;
    color: #555;
    padding-bottom: 15px;
  }
  .gtco-testimonials .active {
    opacity: 0.5;
    transition: all 0.3s;
  }
  .gtco-testimonials .center {
    opacity: 1;
  }
  .gtco-testimonials .center h5 {
    font-size: 24px;
  }
  .gtco-testimonials .center h5 span {
    font-size: 20px;
  }
  .gtco-testimonials .center .card-img-top {
    max-width: 100%;
    height: 120px;
    width: 120px;
  }
  
  @media (max-width: 767px) {
    .gtco-testimonials {
      margin-top: 20px;
    }
  }
  .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
    outline: 0;
  }
  .owl-carousel button.owl-dot {
    outline: 0;
  }


  /* owl crousal */
 .owl-carousel,.owl-carousel .owl-item{-webkit-tap-highlight-color:transparent;position:relative}.owl-carousel{display:none;width:100%;z-index:1}.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y;touch-action:manipulation;-moz-backface-visibility:hidden}.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0,0,0)}.owl-carousel .owl-item,.owl-carousel .owl-wrapper{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0)}.owl-carousel .owl-item{min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-touch-callout:none}.owl-carousel .owl-item img{display:block;width:100%}.owl-carousel .owl-dots.disabled,.owl-carousel .owl-nav.disabled{display:none}.no-js .owl-carousel,.owl-carousel.owl-loaded{display:block}.owl-carousel .owl-dot,.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-nav .owl-prev{cursor:pointer;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel .owl-nav button.owl-next,.owl-carousel .owl-nav button.owl-prev,.owl-carousel button.owl-dot{background:0 0;color:inherit;border:none;padding:0!important;font:inherit}.owl-carousel.owl-loading{opacity:0;display:block}.owl-carousel.owl-hidden{opacity:0}.owl-carousel.owl-refresh .owl-item{visibility:hidden}.owl-carousel.owl-drag .owl-item{-ms-touch-action:pan-y;touch-action:pan-y;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-grab{cursor:move;cursor:grab}.owl-carousel.owl-rtl{direction:rtl}.owl-carousel.owl-rtl .owl-item{float:right}.owl-carousel .animated{animation-duration:1s;animation-fill-mode:both}.owl-carousel .owl-animated-in{z-index:0}.owl-carousel .owl-animated-out{z-index:1}.owl-carousel .fadeOut{animation-name:fadeOut}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}.owl-height{transition:height .5s ease-in-out}.owl-carousel .owl-item .owl-lazy{opacity:0;transition:opacity .4s ease}.owl-carousel .owl-item .owl-lazy:not([src]),.owl-carousel .owl-item .owl-lazy[src^=""]{max-height:0}.owl-carousel .owl-item img.owl-lazy{transform-style:preserve-3d}.owl-carousel .owl-video-wrapper{position:relative;height:100%;background:#000}.owl-carousel .owl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;background:url(owl.video.play.png) no-repeat;cursor:pointer;z-index:1;-webkit-backface-visibility:hidden;transition:transform .1s ease}.owl-carousel .owl-video-play-icon:hover{-ms-transform:scale(1.3,1.3);transform:scale(1.3,1.3)}.owl-carousel .owl-video-playing .owl-video-play-icon,.owl-carousel .owl-video-playing .owl-video-tn{display:none}.owl-carousel .owl-video-tn{opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;background-size:contain;transition:opacity .4s ease}.owl-carousel .owl-video-frame{position:relative;z-index:1;height:100%;width:100%}
  /* owl crousal */

